public/n8n-workflow.json
{
  "name": "Echoes of History – Flashcards por Correo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "echoes-flashcards",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "echoes-flashcards"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres un asistente especializado en historia y educación. Analiza transcripciones de conversaciones con personajes históricos y genera materiales de estudio estructurados."
            },
            {
              "role": "user",
              "content": "=Analiza esta transcripción histórica. Extrae los 5 datos clave discutidos y conviértelos en un bloque de preguntas y respuestas en formato Markdown estricto compatible con Flashcards de Obsidian y Anki.\n\nPersonaje histórico: {{ $json.body.character }}\nUsuario: {{ $json.body.userName }}\nPuntaje de la misión: {{ $json.body.score }}%\n\nTRANSCRIPCIÓN:\n{{ $json.body.transcript.map(t => t.role.toUpperCase() + ': ' + t.content).join('\\n') }}\n\nFormato de salida OBLIGATORIO (sin texto extra, solo el bloque Markdown):\n\n# Flashcards – {{ $json.body.character }}\n\n**Fecha:** {{ new Date().toLocaleDateString('es-ES') }}\n**Evaluación:** {{ $json.body.passed ? 'Aprobado' : 'Participación' }}\n**Puntaje:** {{ $json.body.score }}%\n\n---\n\n## Q: [pregunta clave 1]\nA: [respuesta basada en la conversación]\n\n<!-- Card Divider -->\n\n## Q: [pregunta clave 2]\nA: [respuesta basada en la conversación]\n\n<!-- Card Divider -->\n\n(repite hasta 5 tarjetas)"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 1200
        }
      },
      "id": "node-openai",
      "name": "OpenAI – Analizar con Codex",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@echoesofhistory.app",
        "toEmail": "={{ $('Webhook').item.json.body.email }}",
        "subject": "=Tus Flashcards de {{ $('Webhook').item.json.body.character }} – Echoes of History",
        "emailFormat": "html",
        "message": "=<div style=\"font-family: 'Georgia', serif; background-color: #0c0c0e; color: #f5f0e8; max-width: 600px; margin: 0 auto; padding: 40px 32px; border-radius: 16px;\">\n  <div style=\"text-align: center; margin-bottom: 32px;\">\n    <p style=\"font-size: 11px; letter-spacing: 4px; text-transform: uppercase; color: #8a7043; font-family: monospace; margin: 0;\">Echoes of History</p>\n    <h1 style=\"font-size: 26px; color: #fcd34d; margin: 12px 0 4px;\">Tus Flashcards están listas</h1>\n    <p style=\"font-size: 13px; color: #a3a3a3; margin: 0;\">Generadas por Codex a partir de tu conversación con <strong style=\"color: #fef3c7;\">{{ $('Webhook').item.json.body.character }}</strong></p>\n  </div>\n\n  <div style=\"background: #1a150b; border: 1px solid #d4af37; border-radius: 12px; padding: 24px; margin-bottom: 24px;\">\n    <p style=\"font-size: 12px; font-family: monospace; color: #8a7043; text-transform: uppercase; letter-spacing: 2px; margin: 0 0 8px;\">Resumen de la misión</p>\n    <table style=\"width: 100%; font-size: 13px; color: #fef3c7;\">\n      <tr><td style=\"padding: 4px 0; color: #a3a3a3;\">Usuario</td><td style=\"text-align: right;\">{{ $('Webhook').item.json.body.userName }}</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #a3a3a3;\">Personaje</td><td style=\"text-align: right;\">{{ $('Webhook').item.json.body.character }}</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #a3a3a3;\">Puntaje</td><td style=\"text-align: right; color: #fcd34d; font-weight: bold;\">{{ $('Webhook').item.json.body.score }}%</td></tr>\n      <tr><td style=\"padding: 4px 0; color: #a3a3a3;\">Resultado</td><td style=\"text-align: right;\">{{ $('Webhook').item.json.body.passed ? '✓ Aprobado' : 'Participación' }}</td></tr>\n    </table>\n  </div>\n\n  <p style=\"font-size: 13px; color: #a3a3a3; line-height: 1.7;\">Adjuntamos el archivo <strong style=\"color: #fef3c7;\">Flashcards_{{ $('Webhook').item.json.body.character }}.md</strong> listo para importar en <strong style=\"color: #fef3c7;\">Obsidian</strong> o <strong style=\"color: #fef3c7;\">Anki</strong>.</p>\n\n  <div style=\"margin-top: 40px; padding-top: 24px; border-top: 1px solid #2a2a2a; text-align: center;\">\n    <p style=\"font-size: 11px; color: #525252; font-family: monospace;\">Echoes of History · Hackathon 2026</p>\n  </div>\n</div>",
        "attachments": "={{ [{\"filename\": \"Flashcards_\" + $('Webhook').item.json.body.character + \".md\", \"content\": $json.message.content, \"contentType\": \"text/markdown\"}] }}",
        "options": {}
      },
      "id": "node-email",
      "name": "Enviar Flashcards por Correo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [760, 300],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ markdown: $('OpenAI – Analizar con Codex').item.json.message.content, emailSentTo: $('Webhook').item.json.body.email, character: $('Webhook').item.json.body.character }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Responder al Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1020, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI – Analizar con Codex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI – Analizar con Codex": {
      "main": [
        [
          {
            "node": "Enviar Flashcards por Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Flashcards por Correo": {
      "main": [
        [
          {
            "node": "Responder al Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["hackathon", "echoes-of-history", "flashcards"],
  "triggerCount": 0,
  "updatedAt": "2026-07-04T00:00:00.000Z",
  "versionId": "1"
}
